{% extends "top_bottom_bar.html" %}

{% block content %}

<section class="inner_page_head">
    <div class="container_fuild">
       <div class="row">
          <div class="col-md-12">
             <div class="full">
                <h3>Cart</h3>
             </div>
          </div>
       </div>
    </div>
 </section>

 <section class="why_section layout_padding">
    <div class="container">
       <div class="heading_container heading_center">
          <h2>
             
          </h2>
       </div>
    </div>
</div>
</section>    

    {% endblock %}