{% extends "top_bottom_bar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Check Out</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'asset/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'asset/css/all.min.css' %}">
	<!-- bootstrap -->
	
	<!-- owl carousel -->

	<!-- magnific popup -->

	<!-- animate css -->
	
	<!-- mean menu css -->
	
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'asset/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'asset/css/responsive.css' %}">

</head>
<body>
	<section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3 style="color:white;">Checkout</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
	<!-- check out section -->
	<div class="checkout-section mt-80 mb-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Shipping Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
								
						       {% for address in addresses %}
							   <h6  class="mb-0">
				
									{{address.customer}}<br>
									{{address.flat_no}}<br>
									{{address.street}}<br>
									{{address.area}} ,
									{{address.district}}<br>
									{{address.state}},
									{{address.country}}<br>
									{{address.zip_code}}
								
									{% endfor %}
						      </div>
						    </div>
						  </div>
						  

						  <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Payment method
						        </button>
						      </h5>
						    </div>
							
						    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
																	
								    <input type="radio" id="cod" name="PAYMENT_METHOD" value="cod">
								    <label for="html">COD</label><br>
								    <input type="radio" id="CARD_PAYMENT" name="PAYMENT_METHOD" value="CARD_PAYMENT">
								    <label for="css">CARD PAYMENT</label><br>
								    <input type="radio" id="Net_Banking" name="PAYMENT_METHOD" value="Net_Banking">
								    <label for="javascript">Net Banking</label>
								  
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          coupon
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
								{% for message in messages %}
								{{message}}
								{% endfor %}
								<div class="coupon-form-wrap">
									<form action="{% url 'checkout' %}" method="post">
										{% csrf_token %} 
										<p><input type="text"  name="coupon-code" placeholder="Coupon"></p>
										<p><input type="submit"   value="Apply"></p>
										
									</form>	
									<br>
									<form action="{% url 'checkout' %}" method="post">
										{% csrf_token %} 
									<p><input type="submit"  class="boxed-btn" name="clear-code" value="Clear">
										
								</form>	
								</div>
							  </div>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								
								{% for item in items %}
								<tr>
									<td>{{item.product}}</td>
									<td>{{item.price}}</td>
								</tr>
								{% endfor %}
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td>${{total_price}}</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>${{shipping_charge}}</td>
								</tr>
								<tr>
									<td>Discount</td>
									<td>${{discount}}</td>
								</tr>
								<tr>
									<td>Total</td>
									<td><b>${{total}}</b></td>
								</tr>
							</tbody>
						</table>
						<br>
						<form action="{% url 'checkout' %}" method="post">
							{% csrf_token %} 
						<p><input type="submit"  class="boxed-btn" name="place-order" value="place order">
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->


	
</body>
</html>
{% endblock %}